<form method="post" action="{{ path('veteran_delete', {'id': veteran.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ veteran.id) }}">
    <button class="btn">Delete</button>
</form>
