{% extends 'base.html.twig' %}

{% block title %}Edit Veteran{% endblock %}

{% block body %}
    <h1>Edit Veteran</h1>

    {{ include('veteran/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('veteran_index') }}">back to list</a>

    {{ include('veteran/_delete_form.html.twig') }}
{% endblock %}
