@media (min-width: 992px) {
    header.masthead {
        padding-top: 9.5rem;
        padding-bottom: 9.5rem;
    }
}
.btn {
    background: #d0d0d0;
    border-radius: 4px;
}
.back-to-list {
    margin: 20px 0px 0px 0px;
    display: block;
    color: blue;
}